/*
Ici mettre le css de toute l'application 
*/


.page-title{
	color: #3E703D;
	font-size:40px;
	font-style:gras;
}


 .add{
 	border : none;
 }
 
.horizontal{
	float: left;
    clear: none; 
}
.bg-color {
	background-color: #3E703D;
}

.text-color{
	color:#3E703D;
}


.triangle-fin{
	z-index: -1;
    position: relative;
    left: -46px;
    height: 0;
    width: 0;
    border-top: 30px solid transparent;
    border-right: 40px solid #3E703D;
    border-bottom: 30px solid transparent;
    border-radius: 0px 80px 80px 72px;
}

.h3-adjust{
	font-weight: bold;
	font-size: 18px;
	
}
.paragraph{
	font-weight: bold;
	font-size: 16px;
}

.round-btn {
	width:28%;
	
}
.en-cours{
	background-color:#DFBA23;
}
.notDoneYet{
	background-color:#BA3C2F;
}
.coming{
	background-color:#E2913F;
}

