/*
Ici mettre le css de toute l'application 
*/


.page-title{
	color: #3E703D;
	font-size:40px;
	font-style:gras;
}


 .add{
 	border : none;
 }
 
.horizontal{
	float: left;
    clear: none; 
}
.bg-color {
	background-color: #3E703D;
}

.text-color{
	color:#3E703D;
}

.btn-add{
	
}



