/*
Ici mettre le css de toute l'application 
*/
 .add{
 	border : none;
 }
.horizontal{
	float: left;
    clear: none; 
}
.backgroundColor {
	background-color: #3E703D;
}
.textColor{
	text-color:#3E703D;
}